---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Hero from "../components/Hero.astro";
import Blob from "../components/Blob.astro";
import About from "../components/About.astro";
// import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import Loader from "../components/Loader.astro";
import Experience from "../components/Experience.astro";
---

<script src="../lib/index"></script>
<script src="../lib/spline.js"></script>
<Layout name="Rohit Kushwaha">
  <section class="h-[100vh] relative">
    <Header />
    <Hero />
    <div
      class="absolute -z-50 inset-0 flex w-full justify-center items-center opacity-25"
    >
      <Blob is:raw />
    </div>
  </section>
  <About />
  <Experience />
  <!-- <Projects /> -->
  <Footer />
</Layout>


<script></script>
