<!-- <div class="w-[500px] h-[500px] bg-white rounded-full bg-gradient-to-br from-[#98DA55] via-[#5674DF] to-[#D91A1A] blur-3xl"></div> -->
<!-- <canvas id="canvas3d" class="relative z-10 backdrop-blur-3xl opacity-0" width="2000px" height="4000px"></canvas> -->

<canvas
  id="cobe"
  style="width: 500px; height: 500px;"
  width="1000"
  height="1000"
></canvas>