---

---

<hr class="border-white/15 my-24" />
<footer class="pb-20">
    <div class="grid grid-cols-4 w-4/6 mx-auto text-white font-semibold">
        <div>
            <p class="text-white/50">Get in touch</p>
            <div class="flex flex-col">
                <a href="#">hello@rohitk06.dev</a>
                <a href="#">+91 1234567890</a>
            </div>
        </div>
        <div>
            <p class="text-white/50">Connect</p>
            <div class="flex flex-col">
                <a href="https://www.linkedin.com/in/rohitk06/" target="_blank"
                    >LinkedIn</a
                >
                <a href="https://www.instagram.com/rohitk.06/" target="_blank"
                    >Instagram</a
                >
            </div>
        </div>
        <div>
            <p class="text-white/50">Quick Links</p>
            <div class="flex flex-col">
                <a href="{{ site.baseurl }}/blog">Blog</a>
                <a href="{{ site.baseurl }}/projects">Projects</a>
                <a href="{{ site.baseurl }}/about">About</a>
            </div>
        </div>
        <div>Made using Astro, Tailwind CSS, GSAP and Vercel</div>
    </div>
</footer>
