---
import { Logo } from "../assets/svg";
---

<header class="fixed top-0 w-full z-50 bg-gradient-to-b from-black to-transparent">
  <nav class="nav w-11/12 mx-auto h-full mt-8 flex items-center justify-between opacity-0 ">
    <img class="fill-white" src={Logo.src} alt="Logo" />
    <button class="text-darkText font-black font-days text-xl">menu</button>
  </nav>
</header>
