---
import wavingHand from "../assets/images/waving.png"
---
<section class="w-11/12 mx-auto text-center flex justify-center items-center h-full">
    <div class=" -mt-24 font-dmSerif overflow-hidden">
        <h1 class="heroText md:text-8xl text-6xl text-darkText overflow-hidden opacity-0">ROHIT KUSHWAHA</h1>
        <div class="overflow-hidden md:text-4xl text-2xl text-darkText text-center">
           <p class="heroDescription opacity-0">Designer / Developer</p>
        </div>
    </div>
</section>