---
const { text } = Astro.props;
---

<div
    class="bg-white/5 py-4 px-10 min-w-2xl rounded-full border border-white/5 font-bold md:text-2xl text-xl"
    style="white-space: nowrap;"
>
    {text}
</div>
